a {
  color: white;
  text-decoration: none;
}
:focus {
  outline: 0;
}
#subheader {
  transition: height 400ms ease;
  height: 0;
}
#app.subheader-visible #subheader {
  height: 34px;
}
.banner-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}
.banner-list-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.banner-list-item a {
  margin: 0;
  padding: 0;
}
.banner-list-item img {
  width: 100%;
}
.left .banner-list-item img,
.right .banner-list-item img {
  image-rendering: -moz-crisp-edges;
  text-rendering: optimizeSpeed;
}
.season-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}
.season-list-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.season-list-item a {
  display: block;
}
.season-list-item aside {
  width: 30%;
  margin-right: 16px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.season-list-item aside img {
  width: 100%;
}
.season-list-item p {
  font-size: 2rem;
  display: inline-block;
}
.episode-list-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  width: 100%;
}
.episode-list-item a {
  display: block;
}
.episode-list-item aside {
  position: relative;
  top: 0;
  width: 30%;
  margin-left: 0;
  display: block;
  vertical-align: middle;
}
.episode-list-item aside img {
  width: 100%;
}
.episode-list-item .other-side {
  position: absolute;
  top: 0;
  left: 35%;
  margin: 0;
  padding: 0;
  width: 65%;
}
.episode-list-item p {
  float: left;
  clear: both;
}
.episode-list-item p.episode-number {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
    clear: right;
}
.episode-list-item p.episode-title {
  font-size: 2rem;
}

#main {
  background-color: #1B1B1B;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card {
  transition: transform 500ms ease, opacity 500ms ease;
  transform: perspective(360px) rotateY(0deg);
  transform-origin: -15% 50% 0px;
  backface-visibility: hidden;
  position: absolute;
  height: ~"calc(100% - 5rem)";
  z-index: 20;
  opacity: 1;
  width: 100%;
}
.subheader-visible .card {
  height: ~"calc(100% - 5rem - 34px)";
}
.card.scrollable {
  overflow-x: hidden;
  width: ~"calc(100% + 8px)";
}
.card.left {
  transform: perspective(360px) rotateY(-90deg);
  z-index: 30;
  opacity: .6;
}
.card.right {
  transform: perspective(360px) rotateY(90deg);
  opacity: 0.1;
  z-index: 10;
}
#header, #subheader, #footer {
  z-index: 50;
}
#volume-bar ol li {
  height: calc(100% / 21);
}
#volume-indicator {
  transition: opacity 0ms;
  opacity: 1;
}
#volume-indicator.fade {
  transition: opacity 1000ms ease;
  opacity: 0;
}

#nowplaying-info {
  position: absolute;
  top: 0;
  bottom: 32px;
  width: 100%;
}

#nowplaying-controls {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  height: 44px;
  width: 100%;
  background-color: black;
  color: white;
}

#nowplaying-controls > button {
  width: 18%;
  height: 44px;
  margin: 0;
  text-align: center;
  background-color: black;
  color: white;
}
#nowplaying-controls > button[data-icon]:before {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 44px;
  line-height: 44px;
  float: left;
  clear: none;
  top: 0;
  right: 0;
}
