<form id="cfg-form">
  <p>
    <input id="cfg-host-field" type="text" placeholder="Host" required="" value="192.168.1.150">
    <button type="reset">Clear</button>
  </p>
  <p>
    <input id="cfg-port-field" type="number" required="" value="9090">
    <button type="reset">Clear</button> 
  </p>
  <p>
    <a id="cfg-connect-btn" class="bb-button recommend" href="#">Connect</a> 
  </p>
</form>
