<div id="classic-remote">
<div class="row three-buttons"><button id="classic-home"><span data-icon="wallpaper"></span></button><button id="classic-up">&#8657;</button><button id="classic-info"><span data-icon="info"></span></button></div>
<div class="row three-buttons"><button id="classic-left">&#8656;</button><button id="classic-select">&#10042;</button><button id="classic-right">&#8658;</button></div>
<div class="row three-buttons"><button id="classic-context-menu"><span data-icon="menu"></span></button><button id="classic-down">&#8659;</button><button id="classic-back"><span data-icon="undo"></span></button></div>
</div>
