<form id="connection-settings">
  <fieldset>
    <legend>Host</legend>
    <p>
      <input id="connection-host" type="text" placeholder="Host" value="{{connection.host}}" required>
      <button type="reset">Clear</button>
    </p>
    <legend class="action">Port</legend>
    <p>
      <input id="connection-port" type="number" value="{{connection.port}}" required>
      <button type="reset">Clear</button> 
    </p>
    <p>
      <button type="button" id="action-connect" class="bb-button recommend">Connect</button>
    </p>
  </fieldset>
  <p class="error-message"></p>
</form>
