<ul id="episode-list" class="banner-list">
  {{#each episodes}}
  <li class="episode-list-item">
    <a href="#" data-libraryid="{{episodeid}}">
      <aside class="episode-banner">
        {{img_episode_art}}
      </aside>
      <p class="episode-title">
        {{title}}
      </p>
      <p class="episode-number">
        Episode {{episode}}
      </p>
    </a>
  </li>
  {{/each}}
</ul>
