<ul id="index-list">
  <li>
    <a data-card-link="TVSHOWS" href="#">
      TV Shows
      <div id="index-recent-episodes" class="recent">recent...</div>
    </a>
  </li>
  <li>
    <a data-card-link="MOVIES" href="#">
      Movies
      <div id="index-recent-movies" class="recent">recent...</div>
    </a>
  </li>
</ul>
