<ul id="index-list">
  <li>
    <a data-card-link="TVSHOWS" href="#" class="selectable">
      <span data-icon="video-size"></span> TV Shows
      <div id="index-recent-episodes" class="recent">recent...</div>
    </a>
  </li>
  <li>
    <a data-card-link="MOVIES" href="#" class="selectable">
      <span data-icon="video"></span> Movies
      <div id="index-recent-movies" class="recent">recent...</div>
    </a>
  </li>
  <li>
    <a data-card-link="SETTINGS" href="#">
      <span data-icon="settings"></span> Settings
    </a>
  </li>
</ul>
