<ul id="movie-list" class="large-side-banners">
  {{#each movies}}
  <li>
    <a data-libraryid="{{movieid}}" href="#" class="selectable">
      <aside class="season-banner">
        {{img_movie_art}}
      </aside>
      <p class="season-label">
        {{title}}
      </p>
    </a>
  </li>
  {{/each}}
</ul>
