<div id="nowplaying-info" class="scrollable">
  <img id="nowplaying-thumb" alt="No Image" src="">
  <h3 id="nowplaying-episode-title">Episode Title</h3>
  <p id="nowplaying-episode-plot">Plot..</p>
</div>

<div id="nowplaying-controls" role="toolbar">
<button id="nowplaying-stop" data-icon="stop"></button><button id="nowplaying-seek-back" data-icon="seek-back"></button><button id="nowplaying-playpause" data-icon="play"></button><button id="nowplaying-seek-forward" data-icon="seek-forward"></button><button id="nowplaying-volume" data-icon="sound-min"></button> 
</div>
