<form id="settings-form">
  <fieldset>
    <legend class="action">Animations</legend>
    <section>
      <p>
        <select id="cfg-effect">
        {{#each effect_choices}}<option value="{{@key}}">{{this}}</option>{{/each}}
        </select>
      </p>
    </settings>
  </fieldset>
</form>
