<form id="settings-form">
  <fieldset>
    <legend class="action">Kodi Settings</legend>
    <section>
      <p>
        <button id="update-library">Update Library</button>
      </p>
    </section>
  </fieldset>
  <fieldset>
    <legend class="action">Animations</legend>
    <section>
      <p>
        <select id="cfg-effect">
        {{#each effect_choices}}<option value="{{@key}}">{{this}}</option>{{/each}}
        </select>
      </p>
    </settings>
  </fieldset>
  <fieldset>
    <legend class="action">Foxi v0.1.0</legend>
    <a class="bb-button" href="https://github.com/soupytwist/foxi/issues/" target="_blank"><i data-icon="bug" class="icon-small"></i>  Report an Issue</a>
    <section>
      <ul>
      <li><b>v0.1.0</b>: Initial Release; supports Movies and TV Shows
      </ul>
    </section>
  </fieldset>
</form>
