<ul id="tv-show-list" class="banner-list">
  {{#each tvshows}}
  <li class="banner-list-item">
    <a data-show-id="{{tvshowid}}" data-show-name="{{label}}" href="#">
      {{img_banner}}
    </a>
  </li>
  {{/each}}
</ul>
