<nav id="volume-bar" data-type="scrollbar">
  <p id="volume-indicator">{{ volume }}</p>
  <ol>
    <li><a href="#">100</a></li>
    <li><a href="#">95</a></li>
    <li><a href="#">90</a></li>
    <li><a href="#">85</a></li>
    <li><a href="#">80</a></li>
    <li><a href="#">75</a></li>
    <li><a href="#">70</a></li>
    <li><a href="#">65</a></li>
    <li><a href="#">60</a></li>
    <li><a href="#">55</a></li>
    <li><a href="#">50</a></li>
    <li><a href="#">45</a></li>
    <li><a href="#">40</a></li>
    <li><a href="#">35</a></li>
    <li><a href="#">30</a></li>
    <li><a href="#">25</a></li>
    <li><a href="#">20</a></li>
    <li><a href="#">15</a></li>
    <li><a href="#">10</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">0</a></li>
  </ol>
</nav>
